<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasComments">
	<!--! Start:: offcanvas-header !-->
	<div class="cb-offcanvas-header offcanvas-header px-4 d-flex align-items-center justify-content-start position-relative border-bottom">
		<a href="javascript:void(0);" class="btn btn-icon btn-light" data-bs-dismiss="offcanvas">
			<i class="fi fi-rr-arrow-left"></i>
		</a>
		<h6 class="fs-16 fw-semibold text-dark mb-0 ms-3">Comments <span class="badge bg-success-subtle text-success ms-2">35+</span></h6>
	</div>
	<!--! End:: offcanvas-header !-->
	<!--! Start:: offcanvas-body !-->
	<div class="offcanvas-body cb-offcanvas-body" data-scroll-target="cb-scrollable">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/1.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Alexandra Della</a>
					<div class="fs-11 fw-normal text-muted">Hello everybody!</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/2.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Erna Serpa</a>
					<div class="fs-11 fw-normal text-muted">I'm worried😳 it.</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/3.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Audity Johnson</a>
					<div class="fs-11 fw-normal text-muted">I understand your concern…</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/5.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Maton Serpa</a>
					<div class="fs-11 fw-normal text-muted">I wanted to check my order status...!!!</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/6.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Kenneth Hune</a>
					<div class="fs-11 fw-normal text-muted">Thanks for the information!!!</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/7.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Holmes Cherryman</a>
					<div class="fs-11 fw-normal text-muted">The birthday🎂 party almost completed</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/8.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Malanie Hanvey</a>
					<div class="fs-11 fw-normal text-muted">I understand your concern......!!!</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/9.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Maton Serpa</a>
					<div class="fs-11 fw-normal text-muted">I wanted to check my order status...!!!</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col row">
				<div class="col-auto">
					<div class="avatar avatar-lg">
						<img src="./../assets/images/avatar/10.png" class="img-fluid" alt="image">
					</div>
				</div>
				<div class="col">
					<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Kenneth Hune</a>
					<div class="fs-11 fw-normal text-muted">Thanks for the information!!!</div>
				</div>
			</div>
			<div class="col-auto dropdown">
				<a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light" data-bs-toggle="dropdown">
					<i class="fi fi-bs-menu-dots-vertical fs-12"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-sm">
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-ban"></i>
							<span class="ms-3">Hide</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-arrows-repeat"></i>
							<span class="ms-3">Reply</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-forward"></i>
							<span class="ms-3">Forword</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-flag-alt"></i>
							<span class="ms-3">Flag</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item">
							<i class="fi fi-rr-triangle-warning"></i>
							<span class="ms-3">Report</span>
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a href="javascript:void(0);" class="dropdown-item text-danger" data-toast-trigger="toast-delete">
							<i class="fi fi-rr-trash"></i>
							<span class="ms-3">Delete</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-top-dashed my-3">
		<div class="row align-items-center">
			<div class="col-auto">
				<div class="avatar avatar-lg">
					<img src="./../assets/images/avatar/11.png" class="img-fluid" alt="image">
				</div>
			</div>
			<div class="col">
				<a href="javascript:void(0);" class="fs-13 fw-semibold d-flex align-items-center mb-1">Alex Johnson</a>
				<div class="typing">
					<span class="fs-12 fw-medium">Typing</span>
					<span class="wave">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!--! End:: offcanvas-body !-->
	<!--! Start:: offcanvas-footer !-->
	<div class="cb-offcanvas-footer px-4 d-flex align-items-center border-top">
		<form action="#" class="w-100">
			<input class="form-control border-0 px-0" placeholder="Type your message here...">
		</form>
	</div>
	<!--! End:: offcanvas-footer !-->
</div>
