<header class="cb-main-header px-4 w-100 d-flex align-items-center justify-content-between bg-body border-bottom position-relative z-1030">
    <!--! Start:: main-header-left !-->
    <div class="cb-main-header-left hstack gap-2">
        <!--! Start:: navigation-toggler !-->
        <a href="javascript:void(0);" class="btn btn-icon btn-light rounded-circle d-lg-none" data-toggle-target="cb-navigation-toggler">
            <i class="fi fi-rr-align-left"></i>
        </a>
        <!--! End:: navigation-toggler !-->
        <!--! Start:: asidebar-toggler !-->
        <a href="javascript:void(0);" class="btn btn-icon btn-light rounded-circle me-2 d-xl-none" data-toggle-target="cb-asidebar-toggler">
            <i class="fi fi-rr-symbol"></i>
        </a>
        <!--! End:: asidebar-toggler !-->
        <!--! Start:: invite-people !-->
        <button type="button" class="btn btn-icon btn-icon-md btn-primary" data-bs-toggle="modal" data-bs-target="#cb-invite-people" title="Invite">
            <i class="fi fi-rr-plus fs-12"></i>
        </button>
        <!--! End:: invite-people !-->
    </div>
    <!--! End:: main-header-left !-->
    <!--! Start:: main-header-right !-->
    <div class="cb-main-header-right hstack gap-2">
        <!--! Start:: search-wrapper !-->
        <div class="cb-asidebar-search-wrapper">
            <button type="button" class="btn btn-icon btn-light" data-toggle-target="cb-asidebar-search-toggler">
                <i class="fi fi-rr-search"></i>
            </button>
            <form action="#" class="cb-asidebar-search w-100 d-flex align-items-center px-4 position-absolute top-0 start-0 end-0 bottom-0 bg-body border-bottom z-1">
                <input class="form-control border-0 fw-medium text-muted" placeholder="Search.....">
                <div>
                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-md btn-light text-danger ms-2" data-toggle-target="cb-asidebar-search-toggler">
                        <i class="fi fi-rr-cross-small"></i>
                    </a>
                </div>
            </form>
        </div>
        <!--! End:: search-wrapper !-->
        <!--! Start:: theme-switcher !-->
        <div class="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                <symbol id="sun-fill" viewBox="0 0 24 24">
                    <path d="M12,17c-2.76,0-5-2.24-5-5s2.24-5,5-5,5,2.24,5,5-2.24,5-5,5Zm0-8c-1.65,0-3,1.35-3,3s1.35,3,3,3,3-1.35,3-3-1.35-3-3-3Zm1-5V1c0-.55-.45-1-1-1s-1,.45-1,1v3c0,.55,.45,1,1,1s1-.45,1-1Zm0,19v-3c0-.55-.45-1-1-1s-1,.45-1,1v3c0,.55,.45,1,1,1s1-.45,1-1ZM5,12c0-.55-.45-1-1-1H1c-.55,0-1,.45-1,1s.45,1,1,1h3c.55,0,1-.45,1-1Zm19,0c0-.55-.45-1-1-1h-3c-.55,0-1,.45-1,1s.45,1,1,1h3c.55,0,1-.45,1-1ZM6.71,6.71c.39-.39,.39-1.02,0-1.41l-2-2c-.39-.39-1.02-.39-1.41,0s-.39,1.02,0,1.41l2,2c.2,.2,.45,.29,.71,.29s.51-.1,.71-.29Zm14,14c.39-.39,.39-1.02,0-1.41l-2-2c-.39-.39-1.02-.39-1.41,0s-.39,1.02,0,1.41l2,2c.2,.2,.45,.29,.71,.29s.51-.1,.71-.29Zm-16,0l2-2c.39-.39,.39-1.02,0-1.41s-1.02-.39-1.41,0l-2,2c-.39,.39-.39,1.02,0,1.41,.2,.2,.45,.29,.71,.29s.51-.1,.71-.29ZM18.71,6.71l2-2c.39-.39,.39-1.02,0-1.41s-1.02-.39-1.41,0l-2,2c-.39,.39-.39,1.02,0,1.41,.2,.2,.45,.29,.71,.29s.51-.1,.71-.29Z"></path>
                </symbol>
                <symbol id="moon-stars-fill" viewBox="0 0 24 24">
                    <path d="M15,24a12.021,12.021,0,0,1-8.914-3.966,11.9,11.9,0,0,1-3.02-9.309A12.122,12.122,0,0,1,13.085.152a13.061,13.061,0,0,1,5.031.205,2.5,2.5,0,0,1,1.108,4.226c-4.56,4.166-4.164,10.644.807,14.41a2.5,2.5,0,0,1-.7,4.32A13.894,13.894,0,0,1,15,24Zm.076-22a10.793,10.793,0,0,0-1.677.127,10.093,10.093,0,0,0-8.344,8.8A9.927,9.927,0,0,0,7.572,18.7,10.476,10.476,0,0,0,18.664,21.43a.5.5,0,0,0,.139-.857c-5.929-4.478-6.4-12.486-.948-17.449a.459.459,0,0,0,.128-.466.49.49,0,0,0-.356-.361A10.657,10.657,0,0,0,15.076,2Z"></path>
                </symbol>
                <symbol id="circle-half" viewBox="0 0 24 24">
                    <path d="M12,0C5.38,0,0,5.38,0,12s5.38,12,12,12,12-5.38,12-12S18.62,0,12,0Zm0,22V2c5.51,0,10,4.49,10,10s-4.49,10-10,10Z"></path>
                </symbol>
            </svg>
            <a href="javascript:void(0);" class="btn btn-icon btn-light rounded-circle" id="bd-theme" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)" data-bs-auto-close="outside" data-bs-offset="0, 19">
                <svg class="theme-icon-active" fill="currentColor"><use href="#moon-stars-fill"></use></svg>
            </a>
            <ul class="dropdown-menu dropdown-menu-end min-wd-200">
                <li>
                    <a href="javascript:void(0);" class="dropdown-item" data-bs-theme-value="light">
                        <svg class="theme-icon" fill="currentColor" width="16" height="16"><use href="#sun-fill"></use></svg>
                        <span class="ms-3">Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="dropdown-item" data-bs-theme-value="dark">
                        <svg class="theme-icon" fill="currentColor" width="16" height="16"><use href="#moon-stars-fill"></use></svg>
                        <span class="ms-3">Dark</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="dropdown-item" data-bs-theme-value="auto">
                        <svg class="theme-icon" fill="currentColor" width="16" height="16"><use href="#circle-half"></use></svg>
                        <span class="ms-3">Auto</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--! End:: theme-switcher !-->
        <!--! Start:: theme-notifications !-->
        <div class="dropdown">
            <a href="javascript:void(0);" class="btn btn-icon btn-light rounded-circle position-relative" data-bs-toggle="dropdown" data-bs-offset="0, 19" data-bs-auto-close="outside">
                <i class="fi fi-rr-bell"></i>
                <span class="badge bg-danger rounded-circle position-absolute end-5 top-0 fs-9">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-xl p-0">
                <div class="px-4 py-4 border-bottom d-flex align-items-center justify-content-between">
                    <h6 class="fs-15 fw-bold mb-0">Notifications<span class="badge bg-danger-subtle text-danger ms-2">3+</span></h6>
                    <a href="javascript:void(0);" class="fs-12 text-success text-end ms-auto hstack" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Make as Read">Make as Read</a>
                </div>
                <ul class="list-group list-group-flush p-2">
                    <li class="cb-notifications-item list-group-item border-bottom-0 d-flex gap-3">
                        <div class="avatar avatar-md rounded-circle flex-shrink-0">
                            <img src="./../assets/images/avatar/2.png" alt="" class="img-fluid">
                            <span class="avatar-indicator active"></span>
                        </div>
                        <div class="flex-grow-1 hstack">
                            <a href="javascript:void(0);" class="fw-normal font-body text-muted text-truncate-2"><span class="fw-semibold text-dark">Malanie Hanvey</span> We should talk about that at lunch! </a>
                            <div class="flex-shrink-0 ps-4">
                                <div class="fs-11 fw-medium text-muted mb-2">2 mins</div>
                                <div class="cb-notifications-action d-flex align-items-center float-end gap-1">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-success rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Make as Read">
                                        <i class="fi fi-br-check fs-8"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-danger rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Remove">
                                        <i class="fi fi-rr-cross-small fs-12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cb-notifications-item list-group-item border-bottom-0 d-flex gap-3">
                        <div class="avatar avatar-md rounded-circle flex-shrink-0">
                            <img src="./../assets/images/avatar/3.png" alt="" class="img-fluid">
                            <span class="avatar-indicator inactive"></span>
                        </div>
                        <div class="flex-grow-1 hstack">
                            <a href="javascript:void(0);" class="fw-normal font-body text-muted text-truncate-2"><span class="fw-semibold text-dark">Valentine Maton</span> You can download the latest invoices now. </a>
                            <div class="flex-shrink-0 ps-4">
                                <div class="fs-11 fw-medium text-muted mb-2">7 mins</div>
                                <div class="cb-notifications-action d-flex align-items-center float-end gap-1">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-success rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Make as Read">
                                        <i class="fi fi-br-check fs-8"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-danger rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Remove">
                                        <i class="fi fi-rr-cross-small fs-12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cb-notifications-item list-group-item border-bottom-0 d-flex gap-3">
                        <div class="avatar avatar-md rounded-circle flex-shrink-0">
                            <img src="./../assets/images/avatar/4.png" alt="" class="img-fluid">
                            <span class="avatar-indicator active"></span>
                        </div>
                        <div class="flex-grow-1 hstack">
                            <a href="javascript:void(0);" class="fw-normal font-body text-muted text-truncate-2"><span class="fw-semibold text-dark">Bryan Waters</span> Don't forget to pickup Jeremy after school! </a>
                            <div class="flex-shrink-0 ps-4">
                                <div class="fs-11 fw-medium text-muted mb-2">24 mins</div>
                                <div class="cb-notifications-action d-flex align-items-center float-end gap-1">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-success rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Make as Read">
                                        <i class="fi fi-br-check fs-8"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-danger rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Remove">
                                        <i class="fi fi-rr-cross-small fs-12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cb-notifications-item list-group-item border-bottom-0 d-flex gap-3">
                        <div class="avatar avatar-md rounded-circle flex-shrink-0">
                            <img src="./../assets/images/avatar/5.png" alt="" class="img-fluid">
                            <span class="avatar-indicator busy"></span>
                        </div>
                        <div class="flex-grow-1 hstack">
                            <a href="javascript:void(0);" class="fw-normal font-body text-muted text-truncate-2"><span class="fw-semibold text-dark">Valentine Maton</span> You can download the latest invoices now. </a>
                            <div class="flex-shrink-0 ps-4">
                                <div class="fs-11 fw-medium text-muted mb-2">32 mins</div>
                                <div class="cb-notifications-action d-flex align-items-center float-end gap-1">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-success rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Make as Read">
                                        <i class="fi fi-br-check fs-8"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-danger rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Remove">
                                        <i class="fi fi-rr-cross-small fs-12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cb-notifications-item list-group-item border-bottom-0 d-flex gap-3">
                        <div class="avatar avatar-md rounded-circle flex-shrink-0">
                            <img src="./../assets/images/avatar/6.png" alt="" class="img-fluid">
                            <span class="avatar-indicator active"></span>
                        </div>
                        <div class="flex-grow-1 hstack">
                            <a href="javascript:void(0);" class="fw-normal font-body text-muted text-truncate-2"><span class="fw-semibold text-dark">Timothy Boyd</span> Don't forget to pickup Jeremy after school! </a>
                            <div class="flex-shrink-0 ps-4">
                                <div class="fs-11 fw-medium text-muted mb-2">53 mins</div>
                                <div class="cb-notifications-action d-flex align-items-center float-end gap-1">
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-success rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Make as Read">
                                        <i class="fi fi-br-check fs-8"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-icon btn-icon-xs btn-soft-danger rounded-circle" data-bs-toggle="tooltip" data-bs-trigger="hover" title="Remove">
                                        <i class="fi fi-rr-cross-small fs-12"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="px-4 py-3 border-top d-flex align-items-center justify-content-between">
                    <a href="javascript:void(0);" class="icon-link icon-link-hover">
                        <span>View Alls</span>
                        <i class="fi fi-rr-arrow-right bi"></i>
                    </a>
                    <a href="javascript:void(0);" class="d-flex">
                        <i class="fi fi-rr-settings"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--! End:: theme-notifications !-->
        <!--! Start:: theme-applications !-->
        <div class="dropdown cb-theme-applications d-none d-md-block">
            <a href="javascript:void(0);" class="btn btn-icon btn-light rounded-circle" data-bs-toggle="dropdown" data-bs-offset="0, 19" data-bs-auto-close="outside">
                <i class="fi fi-rr-apps-add"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-lg px-2">
                <div class="row text-center align-items-center gx-0 gy-0 p-0">
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/gmail.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Gmail</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/dropbox.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Dropbox</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/google-drive.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Gdrive</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/figma.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Figma</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/github.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Github</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/gitlab.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Gitlab</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/instagram.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Instagram</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/pinterest.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Pinterest</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-3">
                            <img src="./../assets/images/brand/facebook.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Facebook</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-0">
                            <img src="./../assets/images/brand/shopify.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Shopify</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-0">
                            <img src="./../assets/images/brand/spotify.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Spotify</p>
                        </a>
                    </div>
                    <div class="col-4 hstack">
                        <a href="javascript:void(0);" class="w-100 d-block px-2 py-3 rounded text-center text-decoration-none mb-0">
                            <img src="./../assets/images/brand/whatsapp.png" alt="" width="20">
                            <p class="fs-12 fw-medium text-truncate mb-0 mt-1 pt-1">Whatsapp</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--! End:: theme-applications !-->
        <!--! Start:: user-profile !-->
        <div class="dropdown hstack">
            <a href="javascript:void(0);" class="avatar avatar-md rounded-circle" data-bs-toggle="dropdown" data-bs-offset="0, 19" data-bs-auto-close="outside">
                <img id="userAvatarHeader" src="./../assets/images/avatar/default.png" alt="mdo" class="img-fluid rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-md">
                <li class="dropdown-header">
                    <div class="d-flex align-items-center gap-3">
                        <div class="avatar avatar-lg">
                            <img id="userAvatarDropdown" src="./../assets/images/avatar/default.png" alt="user-image" class="img-fluid">
                        </div>
                        <div>
                            <h6 id="userName" class="text-dark mb-1"></h6>
                            <span id="userEmail" class="fs-12 fw-medium text-muted"></span>
                        </div>
                    </div>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a href="./contact.html" class="dropdown-item">
                        <i class="fi fi-rs-user"></i>
                        <span class="ms-3">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="./email.html" class="dropdown-item">
                        <div class="hstack">
                            <i class="fi fi-rr-envelope-plus"></i>
                            <span class="ms-3">Inbox</span>
                        </div>
                        <span class="badge bg-danger-subtle text-danger rounded-pill ms-auto">5+</span>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a href="./settings-general.html" class="dropdown-item">
                        <i class="fi fi-rr-settings"></i>
                        <span class="ms-3">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <div class="hstack">
                            <i class="fi fi-rr-dashboard"></i>
                            <span class="ms-3">Dashboard</span>
                        </div>
                        <span class="badge bg-primary-subtle text-primary rounded-pill ms-auto">8+</span>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <i class="fi fi-rr-interrogation"></i>
                        <span class="ms-3">Helps</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="dropdown-item">
                        <i class="fi fi-rr-shield-check"></i>
                        <span class="ms-3">Privacy</span>
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item text-danger" href="./login.html">
                        <i class="fi fi-rr-exit"></i>
                        <span class="ms-3">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--! End:: user-profile !-->
    </div>
    <!--! End:: main-header-right !-->
</header>

<!-- Inclure le fichier JavaScript -->
<script src="../../assets/js/app.js"></script>
