<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Fully Responsive Bootstrap Ultimate Chat & Discussion Platform Application.">
<meta name="keyword" content="bootstrap,call,chat,clean,communication,conversation,discussion,flat,message,messenger,modern,responsive,talk,video,call">
<meta name="author" content="WRAPCODERS">
<!--! The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags !-->

<!--! Start:: Google Fonts !-->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!--! End:: Google Fonts !-->

<!--! Start:: Favicon !-->
<link rel="shortcut icon" type="image/x-icon" href="./../assets/images/favicon.ico">
<!--! End:: Favicon !-->

<!--! Start:: Apps Title !-->
<title>@@title | Chatboot - Ultimate Chat & Discussion Platform</title>
<!--! End:: Apps Title !-->
