/*
<--!----------------------------------------------------------------!-->
<--! DROPDOWN SCSS !-->
<--!----------------------------------------------------------------!-->
*/
$dropdown-sizes: (
	sm: 9.375rem,
	md: 15.625rem,
	lg: 18.75rem,
	xl: 21.875rem,
	xxl: 25rem,
	default: 14rem,
);

@mixin dropdown-sizes($size) {
	min-width: map-get($dropdown-sizes, $size);
	padding: $dropdown-padding-y 0;

	.dropdown-item {
		width: auto;
		display: flex;
		align-items: center;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
		font-weight: $font-weight-semibold;
		border-radius: $border-radius-sm;
		transition: $transition-base;

		@if $size ==sm {
			font-size: $font-size-sm;
			padding: 0.375rem 0.75rem;

			.fi {
				font-size: $font-size-sm;
			}
		}

		@else {
			font-size: $font-size-base;
		}
	}
}

@each $size,
$width in $dropdown-sizes {
	.dropdown-menu {
		@include dropdown-sizes(default);
		max-height: calc(100vh - 100px);
		overflow-y: auto;

		&.dropdown-#{$size} {
			@include dropdown-sizes($size);
		}
	}
}